name: Security Scan

on:
  workflow_dispatch:
  push:
    branches: [ master, release/* ]
  pull_request:
    branches: [ master, develop, main, release/* ]
    
jobs:
  SecurityScanComplianceBucket:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
      
    - name: Get Veracode
      uses: wei/curl@master
      with:
        args: -sS -o VeracodeJavaAPI.jar "https://repo1.maven.org/maven2/com/veracode/vosp/api/wrappers/vosp-api-wrappers-java/19.6.5.8/vosp-api-wrappers-java-19.6.5.8.jar"

    - name: Start Static and SCA Compliance scan
      continue-on-error: true
      run: java -jar VeracodeJavaAPI.jar -action uploadandscan -vid ${{ secrets.VERACODE_API_ID }} -vkey ${{ secrets.VERACODE_API_KEY }} -createprofile false -appname "Github-VeraDemo" -version "GitHub Actions job $GITHUB_RUN_NUMBER" -filepath verademo.war
     
    - name: SCA agent
      continue-on-error: true
      run: curl -sSL https://download.sourceclear.com/ci.sh | sh 
      run: srcclr activate | e02685ff-64fa-4acf-af63-207da60031cb
      srcclr scan --ws=N22Ug3Y --url https://github.com/srcclr/example-java-maven --update-advisor
     
    - name: Container Scan
      env: 
        SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
      run: curl -sSL https://download.sourceclear.com/ci.sh | sh -s scan --image clintpollock/verademo-java:latest
